doctype html
html(lang="fa")
  head
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1, shrink-to-fit=no")
    meta(http-equiv="x-ua-compatible", content="ie=edge")

    block title
      title darsvision
    link(rel='stylesheet', href='/stylesheets/main.css')
  body
    .container
      include base/nav
      block content
        
    script(src="/build/main.js")
