nav.navbar.navbar-light.bg-faded
  a.navbar-brand(href='#') ‌DARSVISION
  ul.nav.navbar-nav.pull-xs-right
    li.nav-item.active
      a.nav-link(href='/courses') درسها
    li.nav-item
      a.nav-link(href="/auth/login") ورود / ثبت نام
  form.form-inline
    input.form-control(type='text', placeholder='Search')
